input {
    udp {
      port => {{ logstash_udp_port }}
      host => "{{ elastic_backend_host }}"
      codec => "json"
      type => "syslog"
    }
}

# This is an empty filter block.  You can later add other filters here to further process
# your log lines

filter {
#grok {
#        match => { "message" => "%{SYSLOGTIMESTAMP:time} %{SYSLOGHOST:host} %{SYSLOGPROG:program} %{GREEDYDATA:message}" }
#    }
}

# This output block will send all events of type "rsyslog" to Elasticsearch at the configured
# host and port into daily indices of the pattern, "rsyslog-YYYY.MM.DD"

output {
    elasticsearch {
      hosts => [ "{{ elastic_backend_host }}:{{ elasticsearch_http_port }}" ]
    }
}
